.rating{
    display: flex;
    gap: 1rem;
}
form{
    border: 2px solid #643843;
    max-width:600px;
    margin: 100px auto;
    padding: 50px;
    background-color: #F8F4EC;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.635);
}
#positiveAspect{
    height: 1rem;
    width: 10rem;
}
#areasforImprovement{
    height: 1rem;
    width: 10rem;
}

.center {
    width: 500px;
    margin:100px auto;
}

input:hover{
    background-color: #DCFFB7;
}
textarea:hover{
    background-color: #DCFFB7;
}